:root.theme-light .login-modal-close.modal-close-btn {
  color: #7a3a38;
}
:root.theme-light .login-modal-close.modal-close-btn:hover,
:root.theme-light .login-modal-close.modal-close-btn:focus-visible {
  color: #7a3a38;
}
.login-modal-bottom-link {
  width: 100%;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.2em;
}
