:root[data-color-theme="green"] .space-backdrop[data-mode="light"] {
  background: linear-gradient(to top, #1f1c2c 0%, #928dab 100%);
}

:root[data-color-theme="blue"] .space-backdrop[data-mode="light"] {
  background: linear-gradient(to top, #7288a0 0%, #d7e2ea 100%);
}

:root[data-color-theme="neutral"] .space-backdrop[data-mode="light"] {
  background: linear-gradient(to bottom, #f1eeea 0%, #8fa2b0 100%);
}

:root[data-color-theme="gold"] .space-backdrop[data-mode="light"] {
  background: linear-gradient(to bottom, #f4e8ce 0%, #9baeb1 100%);
}

:root[data-color-theme="red"] .space-backdrop[data-mode="light"] {
  background: linear-gradient(to bottom, #f6a8ab 0%, #eef5dd 100%);
}

:root[data-color-theme="purple"] .space-backdrop[data-mode="light"] {
  background: linear-gradient(to top, #8a66a0 0%, #e6bed4 100%);
}

:root[data-color-theme]:not([data-color-theme="default"])
  .space-backdrop[data-mode="light"]::after {
  opacity: 0;
}
