.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
  white-space: nowrap;
}
.pin-hidden-input {
  position: fixed !important;
  left: -10000px !important;
  top: 0 !important;
  width: 1px !important;
  height: 1px !important;
  opacity: 0 !important;
  caret-color: transparent !important;
}

.text-muted {
  color: var(--pt-300);
  font-weight: 500;
  font-size: 1em;
  white-space: normal;
}
